body {
    background: rgb(179,138,42);
background: linear-gradient(180deg, rgba(179,138,42,1) 0%, rgba(150,2,2,1) 100%);
background-repeat: no-repeat;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }



  form {
    text-align: center;
    line-height: 30px;
    height: 80%;
    overflow: auto;
  }
  
  form hr {
    width: 15%;
  }
  
  h1 {
    text-align: center;
  }
  
  #overlay {
    width: 80%;
    margin: 3% auto;
    height: 95vh;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
  }
  
  #logo {
    height: 100px;
    display: block;
    margin: auto;
  }
  
  
  .toppings label, .cheesy label {
    margin-right: 25px;
  }